"---------------------------------------------
"                misc settings
"---------------------------------------------

set visualbell
set noerrorbells

set relativenumber

set smartcase
set ignorecase
set incsearch

"disable ex mode
map Q <Nop>

"yeah
map Y y$

"stay same position on insert mode exit
"inoremap <silent> <Esc> <Esc><Right>

"cursor movement in insert mode
imap <c-h> <left>
imap <c-k> <up>
imap <c-j> <down>
imap <c-l> <right>

" Moving blocks of text in visual mode
vnoremap < <gv
vnoremap > >gv

" Indent everything
noremap <Space>= miggvG=`i

"---------------------------------------------
"           Emulated Vim Plugins
"---------------------------------------------
set surround

"---------------------------------------------
"             windows/tabs
"---------------------------------------------
nnoremap <c-w>k :action NextTab<CR>
nnoremap <c-w>j :action PreviousTab<CR>
nnoremap <c-w>q :close<CR>
nnoremap <c-w><c-q> :action CloseAllEditors<CR>

"---------------------------------------------
"             IDE actions
"---------------------------------------------
"tabs
"nmap <A-j> :action VimMotionPreviousTab<CR>
"nmap <A-k> :action VimMotionNextTab<CR>

nnoremap / :action Find<CR>
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>

"nnoremap <F10> :action CloseContent<CR>
"nnoremap <Space>u :action RecentFiles<CR>

